@using NuoroLight.Domain.ViewModels.Device
@model FilterDeviceViewModel
@{
    ViewData["Title"] = "دستگاه ها";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}




<div class="row">

    <div class="col-sm-3">
        <div class="panel panel-color panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">فیلتر</h3>
            </div>
            <div class="panel-body">
                <form asp-controller="Device" asp-action="Index" asp-area="Admin" method="get" id="filter-form" class="form-horizontal" role="form">
                    <input type="hidden" asp-for="PageId" />
                    <label class="control-label">نام دستگاه</label>
                    <div class="form-group">
                        <input type="text" asp-for="Name" class="form-control" placeholder="بر اساس نام">
                    </div>
                    <div class="control-group">
                        @foreach (var item in Html.GetEnumSelectList<FilterDeviceOrderBy>())
                        {

                            <div class="form-check">
                                <label class="form-check-label">
                                    @if (Convert.ToByte(item.Value) == Convert.ToByte(Model.DeviceOrderBy))
                                    {

                                        <input class="form-check-input" type="radio" value="@item.Value" name="@nameof(Model.DeviceOrderBy)" checked="checked" />

                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="radio" value="@item.Value" name="@nameof(Model.DeviceOrderBy)" />

                                    }

                                    <span class="text">@item.Text</span>
                                </label>
                            </div>

                        }
                    </div>
                    <div class="form-control">
                        <button type="submit" class="btn btn-block btn-xs btn-purple waves-effect waves-light">فیلتر</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-9">
        <div class="card-box table-responsive">
            <h4 class="header-title m-t-0 m-b-30">لیست دستگاه ها</h4>
            <a class="btn btn-success btn-sm float-end" asp-action="CreateDevice" asp-area="Admin" asp-controller="Device">ایجاد دستگاه جدید</a>

            <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="col-sm-12">
                        @if (Model.Devices != null && Model.Devices.Any())
                        {


                            <table class="table table-hover">

                                <thead>
                                    <tr>
                                        <th>نام </th>
                                        <th>MAC</th>
                                        <th>مکان</th>
                                        <th>وضعیت</th>
                                        <th>عملیات</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model.Devices)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.MAC</td>
                                            <td>@item.Location</td>
                                            <td>@(item.IsActive ? "فعال" : "غیر فعال")</td>
                                            <td>
                                                <a class="btn btn-warning btn-sm" asp-action="EditDevice" asp-area="Admin" asp-controller="Device" asp-route-deviceId="@item.DeviceId">
                                                    <i class="fas fa-edit"></i> ویرایش دستگاه
                                                </a>
                                               <a class="btn btn-info btn-sm" asp-action="GetDeviceSensor" asp-area="Admin" asp-controller="Device" asp-route-deviceId="@item.DeviceId" asp-route-deviceName="@item.Name">
    <i class="fas fa-microchip"></i> مدیریت سنسورها
</a>



                                            </td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <partial name="_NotFoundItem" />
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <partial name="_AdminPagingPartial" model="@Model.GetCurrentPaging()" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->


    </div>
</div>


@section Scripts
{
    <script>
        function RemoveUser(id) {
            swal({
                title: 'اخطار', text: "آیا از انجام عملیات مورد نظر اطمینان دارید؟",
                type: "warning", showCancelButton: true, confirmButtonClass: "btn-danger",
                confirmButtonText: "بله", cancelButtonText: "خیر", closeOnConfirm: false,
                closeOnCancel: false
            }).then((result) => {
                if (result.value) { $('#deleteuser-' + id).submit(); }
                else if (res.dismiss === swal.DismissReason.cancel) { swal('اعلام', 'عملیات لغو شد', 'error'); }
            });
        }
        function RestoreUser(id) {
            swal({
                title: 'اخطار', text: "آیا از انجام عملیات مورد نظر اطمینان دارید؟",
                type: "warning", showCancelButton: true, confirmButtonClass: "btn-danger",
                confirmButtonText: "بله", cancelButtonText: "خیر", closeOnConfirm: false,
                closeOnCancel: false
            }).then((result) => {
                if (result.value) {
                    $('#userrestore-' + id).submit();
                }
                else if (res.dismiss === swal.DismissReason.cancel) { swal('اعلام', 'عملیات لغو شد', 'error'); }
            });
        }
    </script>
    <partial name="_ValidationScriptsPartial" />
}
